@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
@import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
  font-family: "Chocolate Box";
  src: url("../fonts/C_BOX.TTF");
}



/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1500px;
		min-width: 1200px;
	}

	.container.\37 5\25 {
		width: 900px;
	}

	.container.\35 0\25 {
		width: 600px;
	}

	.container.\32 5\25 {
		width: 300px;
	}

	.container {
		width: 1200px;
	}

	@media screen and (max-width: 1280px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 1080px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95%;
		}

	}

	@media screen and (max-width: 820px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95%;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.container.\37 5\25 {
			width: 67.5%;
		}

		.container.\35 0\25 {
			width: 45%;
		}

		.container.\32 5\25 {
			width: 22.5%;
		}

		.container {
			width: 90% !important;
		}

	}

	
	.box H3 {
		color: #fff;
	}
	
	a {
		text-decoration: none;
	}
	
	.folders h3 {
		padding-top: 50px;
		padding-bottom:  50px;
		font-size:1.8em;
	}
	
	.folders img {
		padding-top: 40px;

	}
	
	.notfolders{
		height: 200x;
	}
	
	.notfolders h3{
		padding-top: 5px;
		font-size:1.5em;
	}

	
	
/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 40px 0 0 40px;
	}

	.row {
		margin: -40px 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 40px 0 0 40px;
		}

		.row {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}

		.row.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.uniform.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.\31 2u\28normal\29, .\31 2u\24\28normal\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28normal\29, .\31 1u\24\28normal\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28normal\29, .\31 0u\24\28normal\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28normal\29, .\39 u\24\28normal\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28normal\29, .\38 u\24\28normal\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28normal\29, .\37 u\24\28normal\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28normal\29, .\36 u\24\28normal\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28normal\29, .\35 u\24\28normal\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28normal\29, .\34 u\24\28normal\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28normal\29, .\33 u\24\28normal\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28normal\29, .\32 u\24\28normal\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28normal\29, .\31 u\24\28normal\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28normal\29 + *,
		.\31 1u\24\28normal\29 + *,
		.\31 0u\24\28normal\29 + *,
		.\39 u\24\28normal\29 + *,
		.\38 u\24\28normal\29 + *,
		.\37 u\24\28normal\29 + *,
		.\36 u\24\28normal\29 + *,
		.\35 u\24\28normal\29 + *,
		.\34 u\24\28normal\29 + *,
		.\33 u\24\28normal\29 + *,
		.\32 u\24\28normal\29 + *,
		.\31 u\24\28normal\29 + * {
			clear: left;
		}

		.\-11u\28normal\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28normal\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28normal\29 {
			margin-left: 75%;
		}

		.\-8u\28normal\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28normal\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28normal\29 {
			margin-left: 50%;
		}

		.\-5u\28normal\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28normal\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28normal\29 {
			margin-left: 25%;
		}

		.\-2u\28normal\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28normal\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1080px) {

		.row > * {
			padding: 30px 0 0 30px;
		}

		.row {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform {
			margin: -30px 0 -1px -30px;
		}

		.row.\32 00\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\32 00\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\32 00\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\31 50\25 > * {
			padding: 45px 0 0 45px;
		}

		.row.\31 50\25 {
			margin: -45px 0 -1px -45px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 45px 0 0 45px;
		}

		.row.uniform.\31 50\25 {
			margin: -45px 0 -1px -45px;
		}

		.row.\35 0\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.\35 0\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform.\35 0\25 {
			margin: -15px 0 -1px -15px;
		}

		.row.\32 5\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.\32 5\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.uniform.\32 5\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrow\29, .\39 u\24\28narrow\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrow\29, .\38 u\24\28narrow\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrow\29, .\37 u\24\28narrow\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrow\29, .\36 u\24\28narrow\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrow\29, .\35 u\24\28narrow\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrow\29, .\34 u\24\28narrow\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrow\29, .\33 u\24\28narrow\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrow\29, .\32 u\24\28narrow\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrow\29, .\31 u\24\28narrow\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrow\29 + *,
		.\31 1u\24\28narrow\29 + *,
		.\31 0u\24\28narrow\29 + *,
		.\39 u\24\28narrow\29 + *,
		.\38 u\24\28narrow\29 + *,
		.\37 u\24\28narrow\29 + *,
		.\36 u\24\28narrow\29 + *,
		.\35 u\24\28narrow\29 + *,
		.\34 u\24\28narrow\29 + *,
		.\33 u\24\28narrow\29 + *,
		.\32 u\24\28narrow\29 + *,
		.\31 u\24\28narrow\29 + * {
			clear: left;
		}

		.\-11u\28narrow\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrow\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrow\29 {
			margin-left: 75%;
		}

		.\-8u\28narrow\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrow\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrow\29 {
			margin-left: 50%;
		}

		.\-5u\28narrow\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrow\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrow\29 {
			margin-left: 25%;
		}

		.\-2u\28narrow\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrow\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 820px) {

		.row > * {
			padding: 25px 0 0 25px;
		}

		.row {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.uniform.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrower\29, .\39 u\24\28narrower\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrower\29, .\38 u\24\28narrower\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrower\29, .\37 u\24\28narrower\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrower\29, .\36 u\24\28narrower\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrower\29, .\35 u\24\28narrower\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrower\29, .\34 u\24\28narrower\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrower\29, .\33 u\24\28narrower\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrower\29, .\32 u\24\28narrower\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrower\29, .\31 u\24\28narrower\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrower\29 + *,
		.\31 1u\24\28narrower\29 + *,
		.\31 0u\24\28narrower\29 + *,
		.\39 u\24\28narrower\29 + *,
		.\38 u\24\28narrower\29 + *,
		.\37 u\24\28narrower\29 + *,
		.\36 u\24\28narrower\29 + *,
		.\35 u\24\28narrower\29 + *,
		.\34 u\24\28narrower\29 + *,
		.\33 u\24\28narrower\29 + *,
		.\32 u\24\28narrower\29 + *,
		.\31 u\24\28narrower\29 + * {
			clear: left;
		}

		.\-11u\28narrower\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrower\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrower\29 {
			margin-left: 75%;
		}

		.\-8u\28narrower\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrower\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrower\29 {
			margin-left: 50%;
		}

		.\-5u\28narrower\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrower\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrower\29 {
			margin-left: 25%;
		}

		.\-2u\28narrower\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrower\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 25px 0 0 25px;
		}

		.row {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.uniform.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	body {
		background: url("../../images/canard.jpg");
		background-repeat:no-repeat;
		background-attachment: fixed;
		color: #1D9D74;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.75em;
	}

	input, textarea, select {
		/*font-family: 'Source Sans Pro', sans-serif;*/
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.75em;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}
	h1.arte {
		font-family: "Chocolate Box", serif;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	strong, b {
		font-weight: 700;
		color: #1D9D74;
	}

	em, i {
		font-style: italic;
	}

	a {
		-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		outline: 0;
		color: #1D9D74;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
		color: 555;
	}

	.homepage header {
		letter-spacing: 0.10em;
		text-align: center;
	}

	header {
		margin-bottom: 1em;
	}

		header h2 {
			/*text-transform: uppercase;*/
			font-size: 2.2em;
			font-weight: 700;
		}

		header .byline {
			display: block;
			margin: 0.5em 0 0 0;
			padding: 0 0 0.5em 0;
			font-size: 1.8em;
		}

	footer {
		margin-top: 1em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Articles */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

	.row > section, .row > article {
		margin-bottom: 0;
	}

/* Images */

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.full {
			display: block;
			width: 100%;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Lists */

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.style1 {
		overflow: hidden;
		background: #FFF;
		border-radius: 5px;
	}

		ul.style1 .right {
			float: right;
			width: 70%;
			padding: 1.3em 1.5em 1.3em 1.5em;
			background: #3fa38d;
			border-radius: 0px 5px 5px 0px;
			border: 1px solid rgba(255, 255, 255, 0.25);
			font-size: 1.1em;
			color: #FFF;
		}

		ul.style1 .left {
			float: left;
			width: 30%;
			text-align: center;
			color: #3fa38d;
		}

		ul.style1 li {
			overflow: hidden;
		}

		ul.style1 a {
			display: block;
			text-decoration: none;
			color: #514439;
		}

			ul.style1 a:hover {
				text-decoration: underline;
			}

		ul.style1 .icon {
			position: relative;
			top: 0.9em;
			font-size: 2.1em;
		}

		ul.style1 .first {
			margin-top: 0 !important;
		}

	ul.style2 li {
		padding: 0.40em 0em;
	}

	ul.style2 a {
		display: block;
		text-decoration: none;
		color: #514439;
	}

		ul.style2 a:hover {
			text-decoration: underline;
		}

	ul.icons {
		position: relative;
		background: #2f2f2f;
		background: rgba(128, 128, 128, 0.05);
		border-radius: 0.50em;
		display: inline-block;
		padding: 0.50em 0.75em 0.30em 0.75em;
		font-size: 1.40em;
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
		}

			ul.icons li span {
				display: none;
				margin: 0;
				padding: 0;
			}

			ul.icons li a {
				display: inline-block;
				background: none;
				width: 2.5em;
				height: 2.2em;
				line-height: 2.2em;
				text-align: center;
				border-radius: 100%;
				border: 0;
				color: #555;
				color: rgba(255, 255, 255, 0.5);
			}

				ul.icons li a:hover {
					color: #FFF;
				}

			ul.icons li.active a {
				color: #FFF;
			}

	ul.info li {
		padding: 1.5em 0 1.5em 0;
	}

		ul.info li:first-child {
			padding-top: 0;
			border-top: none;
			box-shadow: none;
		}

	ul.info h3 {
		display: inline-block;
		padding-bottom: 0.50em;
		font-size: 1.2em;
	}

	ul.info a {
		text-decoration: none;
		color: #4b4c4b;
	}

		ul.info a:hover {
			text-decoration: underline;
		}

	ul.menu {
		cursor: default;
	}

		ul.menu li {
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px #ddd;
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;
		}

			ul.menu li:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

	ul.actions {
		padding-top: 1em;
	}

		ul.actions.major {
			text-align: center;
		}

		ul.actions li {
			margin-left: 1em;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Forms */

	.form_settings { 
		margin: 1em 0 0 0;
	}

		.form_settings p { 
		  padding: 0 0 0.5em 0;
		}

		.form_settings span { 
		  float: left; 
		  width: 10em; 
		  text-align: left;
		}
		  
		.form_settings input, .form_settings textarea { 
		  padding: 5px; 
		  width: 17em; 
		  border: 1px solid #E5E5DB; 
		  background: #FFF; 
		  color: #47433F;
		  border-radius: 7px 7px 7px 7px;
		  -moz-border-radius: 7px 7px 7px 7px;
		  -webkit-border: 7px 7px 7px 7px;  
		}
		  
		.form_settings .submit { 
		  border: 0; 
		  width: 10em; 
		  padding: 1em;
		  cursor: pointer; 
		  background: #1D9D74; 
		  color: #FFF;
		  border-radius: 7px 7px 7px 7px;
		  -moz-border-radius: 7px 7px 7px 7px;
		  -webkit-border: 7px 7px 7px 7px; 		  
		}

		.form_settings textarea, .form_settings select { 
		  width: 17em;
		}

		.form_settings select { 
		  width: 17em;
		}

		.form_settings .checkbox { 
		  margin: 4px 0; 
		  padding: 0; 
		  width: 14px;
		  border: 0;
		  background: none;
		}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default thead {
				background: #444;
				color: #fff;
			}

			table.default tfoot {
				background: #eee;
			}

/* Buttons */

	.button {
		-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-color 0.35s ease-in-out;
		display: inline-block;
		background: none;
		border: 2px solid #FFF;
		border-radius: 8px;
		font-size: 0.85em;
		letter-spacing: 2px;
		padding: 0.85em 2.75em 0.85em 2.75em;
		color: #fff !important;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1em;
		font-weight: 600;
		text-align: center;
	}

		.button.small, .button.big {
			padding: 0.70em 1.5em;
			letter-spacing: 1px;
			font-size: 1.2em !important;
			font-weight: 600;
			color: #FFF;
		}

		.button.arrow .icon {
			position: relative;
			color: #FFF;
		}

			.button.arrow .icon:before {
				position: absolute;
				display: inline-block;
				top: 0.15em;
				padding-left: 1em;
				opacity: 0.9;
				font-size: 1em;
			}

		.button:hover {
			background: #1A8460;
			border-color: #fff;
			border-color: rgba(255, 255, 255, 0.4);
			color: #FFF !important;
		}

		.button.style1:hover {
			background: #fff;
			color: #de577b !important;
		}

			.button.style1:hover .icon {
				color: #de577b !important;
			}

		.button.style2:hover {
			background: #000;
			color: #FFF !important;
		}

	.button-alt {
		position: relative;
		display: inline-block;
		background: none;
		padding: 0;
		font-size: 0.85em;
		letter-spacing: 1px;
		color: #000 !important;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.9em;
		font-weight: 700;
		text-align: center;
	}

		.button-alt.icon:before {
			display: inline-block;
			padding-right: 1em;
			opacity: 0.9;
			font-size: 0.90em;
		}

	.button2 {
		display: inline-block;
		color: inherit;
		text-decoration: none;
		border: solid 1px #c2c7cc;
		border-radius: 0.35em;
		padding: 0.8em 2em 0.8em 2em;
	}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

/* Header */

	#header {
		padding: 1.5em 0em 1em 0em;
		height: 150px;
		background-color: #036873;
	}
	
	img#header {
		float:left;
	}



/* Logo */
	#imglogo {float:left;}
	
	h1 #logo {float:right;}
	
	#logo {
		float:left;
		padding-left:2%;
	}
	#logo h1 a {
		letter-spacing: 0.10em;
		text-decoration: none;
		font-size: 2em;
		font-weight: 700;
		color: #FFF;
	}
	
	#logo p {
		color: #FFF;
	}

	#logo h1 span {
		font-weight: 300;
	}


	.main_title {
		color: white;
		font-size: 3em;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		margin-right: 20%;
		margin-left: 20%;
	}	
/* Nav */

	#nav {
		position: absolute;
		right: 0.5em;
		top: 1.5em;
	}
	
	#nav a {
		text-decoration: none;
		color: white;
	}
	
	#nav  a:visited {
    text-decoration: none;
	}

		#nav > ul > li {
			float: left;
		}

			#nav > ul > li > ul {
				display: none;
			}

			#nav > ul > li:last-child {
				padding-right: 0;
			}

			#nav > ul > li > a, #nav > ul > li > span {
				display: block;
				margin-left: 0.7em;
				padding: 0.30em 1em;
				letter-spacing: 0.06em;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 700;
				font-size: 0.9em;
				outline: 0;
				color: #aaa;
				color: rgba(255, 255, 255, 0.6);
			}

				#nav > ul > li > a.icon:before, #nav > ul > li > span.icon:before {
					display: inline-block;
					padding-right: 0.5em;
					opacity: 0.3;
					font-size: 1em;
				}

			#nav > ul > li.active > a, #nav > ul > li.active > span {
				color: #fff;
				color: white;
			}

		#nav .arrow {
			position: absolute;
			display: inline-block;
			width: 100px;
		}



	#profil {
		margin-top: -4%;
		margin-right: -40%;
	}
		
	.dropotron {
		top: 0;
		text-align: left;
		line-height: 2em;
		min-width: 14em;
		background: #1D9D74;
		line-height: 1em;
		padding: 1.25em 0 1.25em 0;
		border-radius: 8px;
	}

		.dropotron a, .dropotron span {
			display: block;
			padding: 0.75em 2em 0.75em 2em;
			letter-spacing: 0.10em;
			text-transform: uppercase;
			font-size: 0.90em;
			font-weight: 700;
			text-decoration: none;
			color: #aaa;
			color: rgba(255, 255, 255, 0.8);
		}

		.dropotron li:first-child > a, .dropotron li:first-child > span {
			border-top: 0;
		}

		.dropotron li.active > a, .dropotron li.active > span {
			color: #FFF;
		}

		.dropotron li:hover > a, .dropotron li:hover > span {
			color: #FFF;
		}

		.dropotron.level-0 {
			border-radius: 0px 0px 8px 8px;
			font-size: 1em;
			margin-top: 2.3em;
			padding-top: 0;
		}

		
		
		
/* Main */

	#main {
		position: relative;
		padding: 2em 0em;
	

	}

		#main header {
			margin-bottom: 1em;
		}

			#main header span {
				padding-bottom: 1em;
			}

		#main .box {
			margin-top: -2px;
			padding: 2em;
			border-radius: 8px 8px 8px 8px;
			border: 2px solid;
			border-color: #ccc;
			border-color: rgba(0, 0, 0, 0.2);
			background: rgba(72, 105, 114, 0.8);
			text-align: center!important;			
		}

		#main .image img {
			overflow: hidden;
			margin-bottom: 2em;
			border-radius: 8px;
		}
		

		#main p {
			color: #555;		
		}

		#main .button {
			border-color: #888;
			border-color: rgba(0, 0, 0, 0.8);
			color: #000 !important;
		}

			#main .button:hover {
				color: #FFF !important;
			}
			
		#main h2 {
			font-size: 2.5em;
			padding: 1em 0em;
		}

	.homepage #main header {
		margin-bottom: 3em;
	}

		.homepage #main header p {
			padding: 0em 10em;
		}

	.homepage #main .image img {
		margin-bottom: 0;
		border-radius: 8px 8px 0px 0px;
	}

	.no-sidebar #main header {
		text-align: center;
	}
	
	#main #sidebar {
		margin-top: 0em;
	}
	
	#main #sidebar h3, #main #sidebar h4, #main #sidebar h5, #main #sidebar a , #main #sidebar p{
		color: #555;
	}

/* Content */

	#content h3 {
		display: block;
		padding: 1.5em 0em 1em 0em;
		font-size: 1.2em;
	}

	#content form {
		width: 100%;
		margin: 0 auto;
	}

		#content form input.text, #content form select, #content form textarea {
			border-color: #ccc;
			border-color: rgba(0, 0, 0, 0.2);
			color: #4b4c4b;
			color: black !important;
		}

			#content form input.text:focus, #content form select:focus, #content form textarea:focus {
				-moz-transition: background-color 0.35s ease-in-out;
				-webkit-transition: background-color 0.35s ease-in-out;
				-ms-transition: background-color 0.35s ease-in-out;
				transition: background-color 0.35s ease-in-out;
				border: 2px solid rgba(0, 0, 0, 0.3);
			}

		#content form .button {
			border-color: #ccc;
			border-color: rgba(0, 0, 0, 0.2);
			color: #4b4c4b !important;
			color: rgba(0, 0, 0, 0.8) !important;
		}

			#content form .button:hover {
				background: #434343;
				background: rgba(0, 0, 0, 0.8);
				border-color: #434343;
				border-color: rgba(0, 0, 0, 0.1);
				color: #FFF !important;
			}

	.contact #content header {
		margin-bottom: 2.5em;
	}

	.no-sidebar #content h3 {
		text-align: center;
	}

/* Sidebar */

	#sidebar section, #sidebar2 section {
		margin-top: 5em;
	}

		#sidebar section:first-child, #sidebar2 section:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

	#sidebar header, #sidebar2 header {
		margin-bottom: 2em;
	}

		#sidebar header h2, #sidebar2 header h2 {
			font-size: 1.6em;
			font-weight: 600;
		}

	#sidebar .button, #sidebar2 .button {
		margin: 1em 0em;
	}

/* Footer */

	#footer {
		padding: 2em 0em;
		
		
	}
	
	footer {
		background-color:#7691a1;
		text-align: center;
		height: 100px;
	}

		#footer header {
			margin-bottom: 1em;
		}

			#footer header h2, #footer p {
				color: #FFF!important;
			}
			
			
	#nav_foot > ul > li > a, #nav > ul > li > span {

		margin-left: 0.7em;
		padding: 0.30em 1em;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		font-size: 0.9em;
		outline: 0;
		color: #aaa;
		color: rgba(255, 255, 255, 0.6);
			}
	#nav_foot li {
		display:inline-block
	}
		

/* Copyright */

	.copyright {
		position: relative;
		padding: 0em 0em 0em 0em;
		text-align: center;
		color: rgba(255, 255, 255, 0.5);
	}
	
	.copyright a{
		color: rgba(255, 255, 255, 0.5);
	}

/* Featured */

	#featured {
		padding: 0.5em 0em 0.5em 0em;
		background: rgba(210,233,255,0.8);
		margin-right: 30%;
		margin-left: 30%;
		margin-bottom:0%;
		border-radius: 10px;
	}
	
	#featured li {
		font-family: Arial;
		font-size: 1em;
	}
	
	#featured h2 {
		font-size: 2em;
	}

	#featured header {
		color: black;
	}

	#calendar {
		height:68px;
		width:68px;
		background: url("../../icones/calendar.png");
		float:left;
		font-family: Arial;
		margin-left: 5%;
		margin-top: 2%;
	}
	
/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 11pt;
			}

	}

/* Narrow */

	@media screen and (max-width: 1080px) {

		/* Forms */

			form {
				width: 70%;
			}

		/* Header */

			#header {
				padding: 0em 0em;
			}

		/* Logo */

			#logo h1 a {
				top: 0.95em;
			}

			#logo .pennant {
				top: 1.5em;
			}

				#logo .pennant span {
					padding-top: 0.39em;
				}

		/* Nav */

			.dropotron.level-0 {
				margin-top: 1.5em;
			}



		/* Main */

			#main {
				padding: 2em 0em;
			}

			.homepage #main header p {
				padding: 0em 2em;
			}

		/* Footer */

			#footer {
				padding: 2em 0em;
			}

	}

/* Narrower */

	@media screen and (max-width: 820px) {

		/* Forms */

			form {
				width: 80%;
			}

		/* Main */

			#main .box {
				padding: 1.5em;
			}

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 11pt;
				letter-spacing: 0;
			}

			body {
				padding: 0;
			}

			h2, h3, h4, h5, h6 {
				line-height: 1.2em;
				font-size: 1.5em;
			}

			p {
				text-align: justify;
			}

			section, article {
				margin-bottom: 1em;
			}

			.row > section, .row > article {
				margin-bottom: 1em;
			}

			section > :first-child, section:first-child, article > :first-child, article:first-child {
				margin-top: 0 !important;
			}

			form {
				width: 100%;
			}

			header {
				text-align: center;
			}

			header h2 {
				font-size: 1.6em;
			}

			header .byline {
				font-size: 1.1em;
			}

			ul.style1 .left {
				padding: 0.35em 0em;
			}

			ul.style1 .right {
				padding: 1.5em 1.5em 1.5em 1.5em;
				font-size: 1em;
			}

			ul.style1 .icon {
				display: block;
				line-height: 2em;
				top: 0.30em;
			}

			ul.icons {
				font-size: 1em;
			}

			ul.info p {
				text-align: center !important;
			}

			.button {
				width: 100%;
				max-width: 320px;
			}

			form .button {
				width: 100% !important;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background: none;
			}

				#titleBar .toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					height: 60px;
				}

					#titleBar .toggle:before {
						content: '';
						position: absolute;
						left: 7px;
						top: 7px;
						background: rgba(0, 0, 0, 0.2);
						width: 70px;
						height: 44px;
						border-radius: 4px;
					}

					#titleBar .toggle:after {
						content: '';
						display: block;
						width: 20px;
						height: 12px;
						position: absolute;
						left: 32px;
						top: 23px;
						background: url("images/toggle.svg") 0px 0px no-repeat;
						opacity: 0.7;
					}

					#titleBar .toggle:active:after {
						opacity: 0.9;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #1d1d1d;
			}

				#navPanel .link {
					display: block;
					color: #888;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px #555;
					border-color: rgba(255, 255, 255, 0.05);
					padding: 0 1em 0 1em;
					letter-spacing: 0.10em;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 0.95em;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

					#navPanel .link.depth-0 {
						color: #fff;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Header */

			#header {
				position: relative;
				text-align: center;
				padding: 1.5em 0 3em 0;
			}

		/* Logo */

			#logo h1 {
				display: block;
				text-align: center;
			}

			#logo h1 a {
					position: inherit;
					top: 1em;
					margin: 0;
					padding: 0em !important;
				}

			#logo .pennant {
				display: block;
			}

		/* Nav */

			#nav {
				display: none;
			}

		/* Banner */

			#banner {
				padding: 2em 0em 2em 0em;
			}

				#banner header {
					margin-bottom: 2em;
					padding: 0em 1em;
				}

					#banner header h2 {
						font-size: 2em;
					}

					#banner header .byline {
						padding: 0em;
						letter-spacing: 0.10em;
						line-height: 1.4em;
						font-size: 1em;
					}

		/* Main */

			#main {
				padding: 1em 0em 1em 0em;
			}

			.homepage #main header p {
				padding: 0em 1em !important;
			}

		/* Content */

			#content section, #content article {
				margin-bottom: 2em;
			}

			.contact #content, #sidebar, #sidebar2 {
				text-align: center;
			}

		/* Sidebar */

			#sidebar section {
				margin-bottom: 2em;
			}

		/* Footer */

			#footer {
				padding: 2em 0em;
			}

				#footer .actions {
					text-align: center;
				}

					#footer .actions li {
						text-align: center;
					}

		/* Featured */

			#featured {
				padding: 2em 0em 2em 0em;
			}

	}